{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<!-- Menu Section -->
<header id="header">
  <div id="header-top">
    <div class="container">
    <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 logo">
       {{ page.site_branding }}
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12">
      <div class="row">
         <div class="interior-nav">
            <div class="social">
               <ul>
                  {% if linkedin_url|render is not empty %}
                     <li><a href="{{ linkedin_url }}"><i class="fa fa-linkedin"></i></a></li>
                  {% endif %}
                  {% if instagram_url|render is not empty %}
                     <li><a href="{{ instagram_url }}"><i class="fa fa-instagram"></i></a></li>
                  {% endif %}
                  {% if facebook_url|render is not empty %}
                     <li><a href="{{ facebook_url }}"><i class="fa fa-facebook-f"></i></a></li>
                  {% endif %}
                  {% if twitter_url|render is not empty %}
                     <li><a href="{{ twitter_url }}">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                     </a></li>
                  {% endif %}
                  {% if youtube_url|render is not empty %}
                      <li><a href="{{ youtube_url }}"><i class="fa fa-youtube-play"></i></a></li>
                  {% endif %}              
               </ul>
            </div>
             <div class="phone">
               {% if contact_number|render is not empty %}
                  <p> <span> CALL US</span> {{ contact_number }} </p>
               {% endif %} 
                <div class="button_container" id="toggle"><span class="top"></span><span class="middle"></span><span class="bottom"></span></div>
             </div>                  
        </div>        
      </div>
         <!-- Primary Menu -->
            {{ page.primary_menu }}
         <!-- Primary Menu End --> 
      </div> 
    </div>
    </div>
      </div>
    </div>
  </div>
</header>

<!-- Top Banner section -->
<section id="top-banner" style="background-image:url('{{url('<front>')}}themes/custom/yg_interior/images/banner-img.jpg'); width: 100%; background-repeat: no-repeat;">
  <div class="top-banner-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-7 banner-caption wow fadeInUp" data-wow-delay="0.3s">
          <h1><span>{{ page['#title'] }}</span>
          <p>Lorem Ipsum is simply dummy text Lorem Ipsum is simply dummy text</p>
          </h1>
        </div>
      </div>
    </div>
  </div>
</section> 
<!-- Banner End -->

<!-- Access Denied Found -->
{%  set base_url = url('<front>')  %}
<section id="not-found-section" class="text-center">
  <div class="container">               
    <div class="row"> 
      <div class="not-found-body" >
        <div class="not-title" >
          <h1>403</h1>
          <h2>Access Denied</h2> 
        </div>  
          <h2>Access To The Webpage Was Denied. </h2>
          <p>You are not authorized to access this page. You must login to view this page.</p>      
          <a href="{{ base_url }}" class="btn btn-custom"> Go Home </a>      
      </div>
    </div>          
  </div>    
</section>
<!-- Access Denied End -->

<!-- FOOTER SECTION-->
<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-12 footer-columns wow fadeInUp" data-wow-delay="0.3s">
        <img src="{{ logopath }}" title="{{ 'Home'|t }}" rel="home" alt="footer-logo" 
        class="img-responsive">
        <p title="{{ 'Slogan'|t }}">{{ site_slogan }}</p>
      </div>
      <div class="col-md-3 col-sm-12 footer-columns wow fadeInUp" data-wow-delay="0.6s">
        {{ page.find_us }}
      </div>
      <div class="col-md-3 col-sm-12 footer-columns wow fadeInUp" data-wow-delay="0.9s">
        <h6>{% if call_us_title|render is not empty %}{{ call_us_title }}{% endif %}</h6>
        {% if contact_number|render is not empty %}
        <p><a href="tel:{{ contact_number }}"><i class="fa fa-phone"></i> {{ contact_number }}</a></p>
        {% endif %}
        {% if mail_id|render is not empty %}
        <p><a href="mailto:{{ mail_id }}"><i class="fa fa-envelope"></i>{{ mail_id }}</a></p>
        {% endif %}
      </div>
      <div class="col-md-3 col-sm-12 footer-columns wow fadeInUp" data-wow-delay="0.9s">
        <h6>{% if social_title|render is not empty %}{{ social_title }}{% endif %}</h6>
        <div class="social">
          <ul>
             {% if linkedin_url|render is not empty %}
               <li><a href="{{ linkedin_url }}"><i class="fa fa-linkedin"></i></a></li>
             {% endif %}
             {% if instagram_url|render is not empty %}
               <li><a href="{{ instagram_url }}"><i class="fa fa-instagram"></i></a></li>
             {% endif %}
             {% if facebook_url|render is not empty %}
               <li><a href="{{ facebook_url }}"><i class="fa fa-facebook-f"></i></a></li>
             {% endif %}
             {% if twitter_url|render is not empty %}
               <li><a href="{{ twitter_url }}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
             {% endif %}
             {% if youtube_url|render is not empty %}
               <li><a href="{{youtube_url }}"><i class="fa fa-youtube-play"></i></a></li>
             {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- copyright -->

<section id="copyright">
  <div class="container">
    <div class="row">  
      <div class="col-md-6 mx-auto text-center wow fadeInUp" data-wow-delay="0.3s"> 
        {% if copyright %}
          {{copyright|striptags('<b>,<strong>,<p>,<a>,<pre>')|raw}}
        {% endif %}  
      </div>
    </div>
  </div>
</section>
