#header{
	z-index: 100;
}
.region.region-find-us h2 {
    color: #fff;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 1rem;
}
.top-banner-overlay{
	height: 350px;
}
.user-logged-in section#yg-slider {
    margin-top: 91px;
}
.user-logged-in header#header {
    margin-top: 78px;
}
@media (min-width: 320px) and (max-width: 975px) {
	.user-logged-in section#yg-slider {
	    margin-top: 0px;
	}
	.user-logged-in header#header {
	    margin-top: 38px;
	}
}
@media (min-width: 320px) and (max-width: 610px) {
	.user-logged-in header#header {
	    margin-top: 0px !important;
	}
	.row.produc-respons{
    	margin-right: 0px;
    	margin-left: -15px;
	}
}
@media (min-width: 320px) and (max-width: 400px) {
	.btn-info {
    	padding: 10px 85px;
	}
}
@media (min-width: 320px) and (max-width: 480px) {
	#services {
	    padding: 80px 15px !important;
	}
	.product-price .btn-info {
    	padding: 10px 80px;
	}
}
/* Page not found */
#not-found-section {
    padding: 50px 0px 100px;
}
.not-found-body {
    max-width: 70%;
    margin: auto;
}
.not-found-body h2 {
    font-size: 25px;
    font-weight: 600;
}
.not-title {
    border: 2px solid #f5f5f5;
    padding: 10px 50px 30px 50px;
    width: 50%;
    margin: auto;
    margin-bottom: 40px;
    border-radius: 10px;
}
.not-title h1 {
    font-size: 125px;
    margin: 0px;
    font-weight: 700;
    color: #616161;
}
.not-title h2 {
    font-size: 25px;
    margin: 0px;
    color: #616161;
}
#not-found-section a.btn.btn-custom{
	font-size: 20px;
    margin-top: 30px;
	color: #616161;
    background-color: #fff;
    border: 2px solid #60606082;
    padding: 10px 90px;
    border-radius: 30px;
}
#not-found-section a.btn.btn-custom:hover{
    background: #FDC135 !important;
    border-color: #FDC135 !important;
    color: #fff !important;
    transition: 0.7s;
}
#not-found-section a.btn.btn-custom:focus {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
@media (min-width: 380px) and (max-width: 480px){
	.not-title h1 {
	    font-size: 92px !important;
	    margin: 0px !important;
	    color: #616161 !important;
	}
	.not-title h2 {
	    font-size: 22px !important;
	    margin: 0px !important;
	    color: #616161 !important;
	}
	.not-title {
	    border: 2px solid #f5f5f5 !important;
	    padding: 10px 50px 30px 50px !important;
	    width: 100% !important;
	    margin: auto !important;
	    margin-bottom: 40px !important;
	    border-radius: 10px !important;
	}
}
@media (min-width: 320px) and (max-width: 380px){
	.not-title h1 {
	    font-size: 70px !important;
	    margin: 0px !important;
	    color: #616161 !important;
	}
	.not-title h2 {
	    font-size: 17px !important;
	    margin: 0px !important;
	    color: #616161 !important;
	}
	.not-title {
	    width: 100% !important;
	}
	.not-found-body h2 {
    	font-size: 20px;
    	font-weight: 600;
	}
	#not-found-section a.btn.btn-custom {
	    font-size: 17px;
	    padding: 7px 60px;
	}
}
@media (min-width: 481px) and (max-width: 768px) {
	.not-title h1 {
	    font-size: 92px !important;
	    margin: 0px !important;
	    color: #616161 !important;
	}
	.not-title h2 {
	    font-size: 22px !important;
	    margin: 0px !important;
	    color: #616161 !important;
	}
	.not-title {
	    border: 2px solid #f5f5f5 !important;
	    padding: 10px 50px 30px 50px !important;
	    width: 100% !important;
	    margin: auto !important;
	    margin-bottom: 40px !important;
	    border-radius: 10px !important;
	}
}
@media (min-width: 768px) and (max-width: 992px) {
	.not-title h1 {
	    font-size: 92px !important;
	    margin: 0px !important;
	    color: #616161 !important;
	}
	.not-title h2 {
	    font-size: 22px !important;
	    margin: 0px !important;
	    color: #616161 !important;
	}
	.not-title {
	    border: 2px solid #f5f5f5 !important;
	    padding: 10px 50px 30px 50px !important;
	    width: 70% !important;
	    margin: auto !important;
	    margin-bottom: 40px !important;
	    border-radius: 10px !important;
	}
}
/* End page not found*/

/* User login form css*/
#user-login {
  max-width: 40%;
  margin: auto;
  padding: 20px 0px 40px;
  border: 2px solid #f5f5f5;
  margin-bottom: 70px;
  margin-top: 80px;
  overflow: hidden;
}
.login-text .form-group input {
  padding: 10px;
  border-radius: 5px;
}
.login-text a {
  color: #f91546;
}
.login-button input {
	font-size: 20px;
    margin-top: 30px;
	color: #616161;
    background-color: #fff;
    border: 2px solid #60606082;
    padding: 10px 90px;
    border-radius: 30px;
}
.login-button input:hover {
    background: #FDC135 !important;
    border-color: #FDC135 !important;
    color: #fff !important;
    transition: 0.7s;
}
.login-button input:focus {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
.login-button , #user-register-form .form-actions ,#user-pass .form-actions{
  text-align: center;
}
#user-register-form , #user-pass{
  max-width: 50%;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 40px;
  border: 2px solid #f5f5f5;
  padding: 20px 20px 40px;
  overflow: hidden;
}
#user-register-form .js-form-item {
  margin-bottom: 20px !important;
}
#user-register-form .js-form-item input, #user-pass .js-form-item input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
#user-register-form .form-actions input , #user-pass .form-actions input, .comment-comment-form #edit-actions input {
    font-size: 20px;
    margin-top: 30px;
	color: #616161;
    background-color: #fff;
    border: 2px solid #60606082;
    padding: 10px 90px;
    border-radius: 30px;
}
#user-register-form .form-actions input:hover , #user-pass .form-actions input:hover, .comment-comment-form #edit-actions input:hover {
    background: #FDC135 !important;
    border-color: #FDC135 !important;
    color: #fff !important;
    transition: 0.7s;
}
#user-register-form .form-actions input:focus , #user-pass .form-actions input:focus, .comment-comment-form #edit-actions input:focus {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
summary {
    font-size: 16px;
}
#user-register-form .form-actions label , #user-pass .form-actions label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 17px;
}
@media only screen and (max-width: 610px) {
	#user-login {
	  max-width: 95% !important;
	  margin: auto;
	  padding: 20px 0px 40px;
	  border: 2px solid #f5f5f5;
	  margin-bottom: 40px;
	  margin-top: 20px;
	  overflow: hidden;
	}
	#user-register-form , #user-pass{
	  max-width: 95% !important;
	  margin: auto;
	  margin-top: 40px;
	  margin-bottom: 40px;
	  border: 2px solid #f5f5f5;
	  padding: 20px 20px 40px;
	  overflow: hidden;
	}
}
@media (min-width: 768px) and (max-width: 992px) {
	#user-login {
	  max-width: 95% !important;
	  margin: auto;
	  padding: 20px 0px 40px;
	  border: 2px solid #f5f5f5;
	  margin-bottom: 40px;
	  margin-top: 20px;
	  overflow: hidden;
	}
	#user-register-form , #user-pass{
	  max-width: 95% !important;
	  margin: auto;
	  margin-top: 40px;
	  margin-bottom: 40px;
	  border: 2px solid #f5f5f5;
	  padding: 20px 20px 40px;
	  overflow: hidden;
	}
}
/* End  User login form css*/

/*Custom-Css*/
body.node-2 #our-clients {
    padding: 200px 0px 50px;
}
body.node-2 .contextual-region#block-views-block-pages-block-4 {
    position: unset !important;
}