p,a, h1,h2,h3,h4,h5,h6,li,span,a{
    font-family: 'Lato', sans-serif;
}

/*Menu section*/
.sticky #header-top{
    display: none;
}
a.logo img {
    margin-top: 7px;
}
#header-top {
    position: relative;
    color: #fff;
    padding: 10px 0px 10px 0px;
    background-color: #2B2B2B;
}

#header-top .header-right {
    float: right;
    padding-right: 0px;
}

#header-top .header-right ul {
    display: block;
    margin: 0px;
}

#header-top .header-right ul li {
    display: inline-block;
    margin-left: 45px;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 3px;
}

#header-top .header-right i.fa {
    color: #fff;
    border: none;
    background-color: #de3469;
    padding: 5px;
    width: 21px;
    border-radius: 50%;
    text-align: center;
}

#header {
    padding: 0px 0 12px;
    height: auto;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.3s ease;
    z-index: 997;
}

#header.main.sticky {
     height: 75px; 
}

#header.sticky{
    height: 93px;
}
.interior-nav {
	width: 100%;
	padding-top: 10px; 
	display: inline-block;
	text-align: right;
	padding-right: 30px;
}
.fa-plus:before {
    content: "\f067";
    color: #fff;
    background-color: #f91546;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    font-size: 10px;
    left: 3px;
    position: relative;
}

.phone {    
	padding: 10px 40px 10px 10px;
    text-align: right;
    float: right;
    line-height: 25px;
    border-right: 1px solid #fff;
}

.social{
	float: right;	
	padding:  10px 55px 10px 35px;
}

.social ul { 
    padding: 0px;
}

.phone p{
	font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 0px;
}

.phone span {
    color: #8B8985;
    font-size: 12px;
    font-weight: 600;
    padding-right: 5px;
}

.social li{
    list-style: none;
    color: #fff;
    display: inline-block;
}

.social li .fa {
    color: #fff;
    background: #272727;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 20px;
    padding: 5px;
    font-size: 14px;
    font-weight: 600;
}


/*Menu Popup Section*/

.button_container {
    position: absolute;
	top: 20px;
	right: 15px;
	height: 27px;
	width: 35px;
	cursor: pointer;
	z-index: 100;
	transition: opacity .25s ease;
}

.button_container:hover {
	opacity: .7;
}

.button_container.active .top {
	transform: translateY(11px) translateX(0) rotate(45deg);
	background: #FFF;
}

.button_container.active .middle {
	opacity: 0;
	background: #FFF;
}

.button_container.active .bottom {
	transform: translateY(-11px) translateX(0) rotate(-45deg);
	background: #FFF;
}

.button_container span {
	background: #fff;
	border: none;
	height: 2px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .35s ease;
	cursor: pointer;
}

.button_container span:nth-of-type(2) {
	top: 11px;
}

.button_container span:nth-of-type(3) {
	top: 22px;
}

.overlay {
	position: fixed;
	background: #2B2B2B;
	top: 0;
	left: 0;
	width: 100%;
	height: 0%;
	opacity: 0;
	visibility: hidden;
	transition: opacity .35s, visibility .35s, height .35s;
	overflow: hidden;
}

.overlay.open {
	opacity: .9;
	visibility: visible;
	height: 100%;
	overflow-y: visible; 
}

.overlay.open li {
	animation: fadeInRight .5s ease forwards;
	animation-delay: .35s;
}

.overlay nav {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-size: 50px;
	font-weight: 400;
	text-align: center;
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	position: relative;
	height: 100%;
}

.overlay ul li {
	display: block;
	height: 25%;
	height: calc(100% / 4);
	min-height: 50px;
	position: relative;
	opacity: 0;
}

.overlay ul li a {
	display: block;
	position: relative;
	color: #FFF;
	text-decoration: none;
	padding: 10px;
}

.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
	width: 100%;
}

.overlay ul li a:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0%;
	transform: translateX(-50%);
	height: 3px;
	background: #FFF;
	transition: .35s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

/*Slider section*/

.carousel-caption {
	width: 30%;
	text-align: left;
	bottom: 130px;
}

.carousel-caption h2 {
	font-size: 50px;
	line-height: 52px;
	padding-bottom: 0px;
	font-weight: bold;
}

.carousel-caption h2::before {
	content: "";
	border: 8px solid #FDC135;
    box-sizing: border-box;
    padding: 130px 70px;
    position: absolute;
    left: -32px;
    top: -20px;
}

.carousel-caption p {
	font-size: 24px;
	letter-spacing: 1px;
	padding-top: 10px;
}

.carousel-item {
	height: 100vh;
	min-height: 300px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.carousel-indicators li {
	cursor: pointer;
}

/* Interior & furniture section */

#interior-furniture{
	padding: 80px 0px 40px 0px;
	color: #616161;
}

#interior-furniture h2 {
    font-size: 50px;
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 1px;
}
/*Project section*/

#project {
    color: #616161;
    padding: 40px 0px 40px;
}

.project-description {
    padding: 100px 0px 50px;
}

.box-head{
	height: 200px;
}

.box-head h2 span.number{
	font-size: 100px;
	font-weight: 700;
	color: #616161;
	position: relative;
    left: 50px;
    top: 15px;
    width: 43%; 
    float: left;   
}

.box-head h2 span.quote{
	font-size: 29px;
    color: #616161;
    position: relative;
    top: 43px;
    float: left;
    width: 35%;
}

.box-head h2::before {
	content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    border: 8px solid #FDC135;
}
.explore-btn a{
	font-size: 20px;
	margin-top: 30px; 
}

.btn-info {
    color: #616161;
    background-color: #fff;
    border: 2px solid #60606082;
    padding: 10px 90px;
    border-radius: 30px;
}

.btn-info:hover {
    color: #fff;
    background-color: #FDC135;
    border: 2px solid #FDC135;
}

.project-right-image::before{
	content: "";
    position: absolute;
    top: 7px;
    right: 64px;
    width: 130px;
    height: 130px;
    background-color: #FDC135;
    z-index: 0;
}

.project-right-image img {
	padding: 20px;
    position: relative;
}

/* Client section */

#client {
    color: #616161;
    padding: 40px 0px 40px;
}

.client-description {
    padding: 100px 0px 50px;
}

.client-left-image::before{
	content: "";
    position: absolute;
    top: 7px;
    width: 130px;
    height: 130px;
    background-color: #FDC135;
    z-index: 0;
}

.client-left-image img {
	padding: 20px;
    position: relative;
}

/*Work Strategy*/

#work-strategy{
	background-color: #F1F1F1;
	padding: 70px 0px;
}

.strategy-head{
	padding-bottom: 40px;
	letter-spacing: 0.3px;
}

.strategy-head h2{
	font-size: 45px;
	padding-bottom: 10px;
    letter-spacing: 1px;
    color: #606060;
}

.strategy-details i {
    font-size: 40px;
    margin-bottom: 10px;
}

.strategy-details h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.strategy-details h4::before {
    content: " ";
    width: 50px;
    height: 3px;
    background: #FDC135;
    position: absolute;
    top: 80px;
}

/*Custome Furnitures*/

#custome-furnitures {
    color: #606060;
    padding: 80px 0px 40px;
}

.custome-description {
    padding: 100px 0px 50px;
}

.custome-right-image::before{
	content: "";
    position: absolute;
    top: 7px;
    right: 0;  
    width: 130px;
    height: 130px;
    background-color: #FDC135;
    z-index: 0;
}

.custome-right-image img {
	padding: 20px;
    position: relative;
}

/*custome two*/

#custome-two{
    color: #616161;
	padding: 20px 0px 60px 0px;
}

.custome-two-left-image::before{
	content: "";
    position: absolute;
    top: 30%;
    background-color: #FDC135;
    z-index: 0;
    height: 200px;
    width: 100%;
} 

.custome-two-left-image img {
	padding: 0px 40px;
    position: relative;
}

.custome-two-description {
	padding-top: 70px;
}

.custome-two-description h2 {
    padding-bottom: 20px;
    letter-spacing: 1px;
    font-size: 41px;
    font-weight: 300;
}

/*Testimonial Section*/

#testimonial{
	padding: 40px 0px 20px;
	background: #F1F1F1;
}

.testimonial{
    padding: 40px 0 100px 275px;
    position: relative;
}

.testimonial .pic{
    position: absolute;
    top: 0px;
    left: 0px;
}

.testimonial .pic img{
    width: 100%;

}

.testimonial-content {
    position: relative;
    background: #ffffff8c;
    padding: 20px;
}

.testimonial-content::before {
    content: "";
    background: #fcba40;
    width: 7px;
    height: 80%;
    position: absolute;
    left: 0px;
}

.testimonial .pic img{
    width: 350px;
    height: 250px;
    object-fit: cover;
}

.testimonial .description{
    font-size: 14px;
    color: #7a7e82;
}

.testimonial .testimonial-title{
    font-size: 18px;
    font-weight:700;
    color: #22272c;
    text-transform: capitalize;
}

.testimonial .post {
    display: block;
    font-size: 12px;
    font-weight: 100;
    color: #7a7e82;
    margin-top: 5px;
}

.owl-nav{
    width: auto;
    float: right;
}

.owl-prev{
	float: left;
    margin: 0px 5px;
    background: #fab549;
    color: #fff;
    padding: 5px;
}

.owl-next{
	float: left;
    margin: 0px 5px;
    background: #fab549;
    color: #fff;
    padding: 5px;
}

@media only screen and (max-width: 992px){
    .testimonial{
        padding: 40px 0 80px 265px;
    }

    .social {
        width: 45%;
        padding: 10px 35px 10px 10px;
    }

    .phone {
    	width: 50%;
    	padding: 10px 20px 10px 10px;
    }

    #about-team {
		background: #F1F1F1;
		padding:80px 0px; 
		height: 100% !important;
	}

	
}

@media (min-width: 768px) and (max-width: 992px){
	.team-member{
		overflow: hidden;
		height: 180px !important;
	}

	.team-member:hover .team-title {
		bottom: 75px !important;
	}
}	
@media only screen and (max-width: 767px){
    .testimonial{
        padding: 0;
        border: none;
    }

    .testimonial .pic{
        position: relative;
        top: 0;
        left: 0;
    }

    .testimonial .description{
        margin-top: 15px;
    }

    .testimonial .description:before{
        content: "";
    }
    .testimonial .pic img {
	    width: 100%; 
	    height: 350px;
	    object-fit: cover;
}

    .logo{
    	text-align: center;
    }

    .team-member{
		overflow: hidden;
		height: 250px !important;
		margin-bottom: 20px;
	}

	.team-member:hover .team-title {
		bottom: 90px !important;
	}
}

@media (min-width: 993px) and (max-width: 1100px){
   .team-member{
		overflow: hidden;
		height: 250px !important;
		margin-bottom: 20px;
	}

	.team-member:hover .team-title {
		bottom: 80px !important;
	}
}

@media (min-width: 576px) and (max-width: 767px){
   .team-member{
		overflow: hidden;
		height: 250px !important;
		margin-bottom: 20px;
	}

	.team-member:hover .team-title {
		bottom: 120px !important;
	}
}

@media only screen and (max-width: 575px){
   .team-member{
		overflow: hidden;
		height: 250px !important;
		margin-bottom: 20px;
	}

	.team-member:hover .team-title {
		bottom: 160px !important;
	}
}
@media only screen and (max-width: 470px){
    .logo{
    	text-align: center;
    }

    .social {
    	text-align: center;
        width: 100%;
        padding: 10px 35px 10px 10px;
    }

    .phone {
    	text-align: center;
    	width: 100%;
    	padding: 10px 20px 10px 10px;
    	border-right: 0px solid #fff;
    }
}


/*Our Clients section*/

#our-clients{
	padding: 60px 0px;
}

.section-title h2::after {
   display: block;
   height: 2px;
   margin: auto;
   content: " ";
   background-color: #FDC135;
   width: 100px;
   margin-top: 10px;
}

.section-title h2 {
    margin-bottom: 60px;
    font-size: 45px;
    font-weight: 300;
    color: #000;
}

/*Footer section*/

#footer{
	background: #2B2B2B;
	color: #fff;
    padding: 30px 0px 40px 0px;
}

.footer-columns{
    margin-top: 30px;
}

.footer-columns p{
	margin-bottom: 0px;
	font-size: 14px;
    margin-top: 20px;
}

.footer-columns a{
	color: #fff;
}

.footer-columns h6{
	color: #fff;
	font-weight: 600;
	margin-bottom: 20px;
}

#footer .social {
    padding: 0px;
    float: none !important;
}

.footer-columns a i{
	color: #fff;
	padding-right: 10px;
}


/*Copyright section*/

#copyright {
    background: #1D1D1D;
    padding: 20px 0px 10px;
}

#copyright a{
    color: #fff;
}

#copyright p{
	margin-bottom: 0px;
	color: #657582;
    font-size: 14px;
}

#copyright p span{
	color: #FDC135;
}


/*About page*/

#top-banner {
    padding: 70px 0px 0px;
    margin-top: 20px;
}

.top-banner-overlay{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;    
    background-color: rgba(43, 43, 43, 0.48);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.banner-caption {
    color: #fefefe;
    padding: 80px 0px 80px 40px;
}

.banner-caption h1{
    font-weight: bolder;
    font-size: 50px;
    letter-spacing: 1px;
    line-height: 60px;
    text-transform: uppercase;
}

.banner-caption p{
    font-size: 26px;
    letter-spacing: 1px;    
    line-height: 30px;
}

.banner-caption h1::before {
	content: "";
    border: 8px solid #FDC135;
    box-sizing: border-box;
    width: 140px;
    height: 270px;
    position: absolute;
    left: 18px;
    top: 40px;
}

#about{
	padding: 60px 0px;
	color: #616161c7;
}

.about-head{
	padding-bottom: 60px;
}

.about-head h2 {
    font-size: 53px;
    color: #616161;
    font-weight: 300;
}

.about-left-image-outer {
    padding-bottom:20px;
    padding-right: 0px;
    position: relative;
    height: 450px;
}

.about-left-image-outer::before{
	content: "";
    position: absolute;
    top: -16px;
    width: 110px;
    height: 110px;
    background-color: #FDC135;
    z-index: 0;
    left: 0px;
}

.about-right-image , .about-right-image-2 {
    padding-bottom:12px;
    height: 225px;
}

.about-left-image {
    padding-bottom:20px;
    position: relative;
    height: 330px;
}

.about-left-image-2 {
    position: relative;
    height: 110px;
}

.about-right-image-outer {
    padding-bottom: 20px;
    height: 450px;
}

.about-description{
	padding-top: 80px;
}

.about-description h3{
	font-size: 40px;
    color: #616161c7;
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.about-description h3::after {
    display: block;
    height: 3px;
    content: " ";
    background-color: #FDC135;
    width: 100px;
    margin-top: 11px;
    margin-left: 5px;
}

.about-info{
	padding-top: 40px;
}

.about-info h4{
	font-size: 30px;
	margin-bottom: 5px; 
}

#about img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.about-info .number::after {
    display: block;
    height: 3px;
    content: " ";
    background-color: #FDC135;
    width: 30px;
    margin-top: 5px;
	font-size: 30px; 
}

.about-info p{
	line-height: 20px;
}

#about-team{
	background: #F1F1F1;
    padding: 40px 0px;
    height: 450px;
}

.team-head{
	padding-bottom: 50px;
}

.team-head h2{
	font-size: 45px;
    margin-bottom: 10px;
    font-weight: 300;
}
.team-head h2::after {
   display: block;
   height: 2px;
   margin: auto;
   content: " ";
   background-color: #FDC135;
   width: 100px;
   margin-top: 10px;
}

.team-title{
	position: relative;
	bottom: -10px;
	background: #fdc135; 
	color: #fff;
	padding: 10px 0px;
}

.team-title p{
	margin-bottom: 0px;
	font-size: 14px;
	color: #616161;
}

.team-title h3{
	margin-bottom: 0px;
	font-size: 24px;
	color: #000;
}

.team-member{
	overflow: hidden;
	height: 300px;
}

.team-member:hover .team-title {
	bottom: 85px;
}

#about-our-clients{
	padding: 200px 0px 50px;
}

/*Services Page*/

#about-service{
    padding: 60px 0px 50px;
}

.about-service-description{
	padding-top: 80px;
	color: #616161; 
}

.about-service-description h2{
	font-size: 40px;
	font-weight: 300;
	letter-spacing: 1px; 
	color: #616161;
	margin-bottom: 30px;
}

.about-service-description h2::after {
   display: block;
   height: 2px;
   content: " ";
   background-color: #FDC135;
   width: 100px;
   margin-top: 10px;
}

.about-service-right-image::before{
	content: "";
    position: absolute;
    top: 7px;
    right: 0;  
    width: 130px;
    height: 130px;
    background-color: #FDC135;
    z-index: 0;
}

.about-service-right-image img {
	padding: 20px;
    position: relative;
}

#services{
	padding: 80px;
	background: #F1F1F1; 
}


.services-head{
	padding-bottom: 50px;
}

.services-head h2{
	font-size: 45px;
	margin-bottom: 10px; 
    font-weight: 300;
}

.services-head h2::after {
   display: block;
   height: 2px;
   margin: auto;
   content: " ";
   background-color: #FDC135;
   width: 100px;
   margin-top: 10px;
}

.services-caption{
    background: #fff;
    padding: 15px 30px 30px 30px;
    margin-bottom: 30px;
    border-top: 15px solid #fff;

}

.services-caption:hover{
    border-top: 15px solid #FDC135;
}

.services-caption h3{
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 600;
}


.services-caption a{
    color: #000;
}

.services-caption a:hover{
    color: #FDC135;
    text-decoration: none;
} 

.services-caption i{
    font-size: 45px;
    margin-bottom: 40px;
}

/*Services detail Page*/

#service-banner{
    
}
.service-banner-overlay{
    background-color: #FDC135;
    padding: 100px 0px;
    width: 70%;
}
#service-banner .caption h2{
    margin-bottom: 30px;
}

#service-banner .caption h2:after{
    display: block;
    height: 2px;
    content: " ";
    background-color: #fff;
    width: 70px;
    margin-top: 25px;
}

.caption-img {
    position: absolute;
    right: 0;
    top: 1225px;
}

@media only screen and (max-width: 991px){
.service-banner-overlay{
    background-color: #FDC135;
    padding: 0px 0px;
    width: 100%;
}

#service-banner .caption{
    margin-bottom: 30px;
}

.caption-img {
    position: relative;
    right: 0;
    top: 0;
    text-align: center;
    margin: auto;
}

#service-banner{
    background-color: #FDC135;
    padding: 80px 0px;
}

}

/*Work Page*/

#work {
    padding: 60px 0px;
}

#work .about-head h2 {
    font-size: 51px;
    color: #616161;
    font-weight: 300;
    margin-bottom: 30px;
}

#work .about-head h2::after {
    display: block;
    height: 2px;
    margin: auto;
    content: " ";
    background-color: #FDC135;
    width: 100px;
    margin-top: 20px;
}
.gal-item{
	overflow: hidden;
	padding: 3px;
}
.gal-item .box{
	height: 350px;
	overflow: hidden;
}
.box img{
	height: 100%;
	width: 100%;
	object-fit:cover;
	-o-object-fit:cover;
}
.gal-item a:focus{
	outline: none;
}

#work .description{
	position: relative;
	top: -70px;
	padding: 10px 25px;
	background-color: #FCC135;
	color: #fff;
	text-align: left;
	color: #000;
}
#work .description h4{
	margin:0px;
	font-weight: 300;
	line-height: 20px;
	margin-bottom: 10px;
}
.box .description{
	display: none;
}
.box:hover .description{
	display: block;
    transition: 2s;
    transition-timing-function: ease-in;
}
.box a{
	text-decoration: none;
    pointer-events: none;
}
.box .description{
	background: #FCC135;
	color: #000;
}

/*Blog Page*/

#blog{
	padding: 40px 0px 20px;
	background: #F1F1F1;
}


.blog-content {
    position: relative;
    background: #ffffff8c;
    padding: 20px 30px 20px 30px;
    left: -80px;
    top: 40px;
}

.blog-content h3 {
    font-size: 18px;
}
.blog{
	margin-bottom: 40px;
}

.blog-content::before {
    content: "";
    background: #fcba40;
    width: 7px;
    height: 80%;
    position: absolute;
    left: 0px;
}

.blog .pic img{
    width: 100%;
    height: 300px;
    object-fit: cover;

}

.blog .description{
    font-size: 14px;
    color: #7a7e82;
}

.blog .post {
    display: block;
    font-size: 12px;
    font-weight: 100;
    color: #7a7e82;
    margin-top: 5px;
}

.blog .row{
    margin:0px;
}


@media (min-width: 767px) and (max-width: 991px){
.blog-content {
    position: relative;
    background: #ffffff8c;
    padding: 20px;
    left: -77px;
    top: 30px;
}
.blog .pic img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

	
}

@media only screen and (max-width: 767px){
    .blog{
        padding: 0;
        border: none;
    }

    .blog .pic{
        position: relative;
        top: 0;
        left: 0;
    }

    .blog .description{
        margin-top: 15px;
    }

    .blog .description:before{
        content: "";
    }

    .blog-content {
    position: relative;
    background: #ffffff8c;
    padding: 20px;
    left: 0px;
    top: 0px;
}

}

/*Blog Details*/


#blog-detail{
	padding: 100px 0px 20px;
}


.blog-detail-content {
    position: relative;
    background: #f5f5f5c9;
    padding: 20px 40px;
    top: -118px;
}

.blog-detail{
	margin-bottom: 40px;
}

.blog-detail-content::before {
    content: "";
    border-top: 4px solid #fcba40;
    width: 50%;
    margin: auto;
    position: absolute;
    left: 25%;
    top: 0;
}

.blog-detail .pic img{
    width: 100%;
    height: 500px;
    object-fit: cover;

}

.blog-detail .description{
    font-size: 14px;
    color: #7a7e82;
}

.blog-detail .post {
    display: block;
    font-size: 12px;
    font-weight: 100;
    color: #7a7e82;
    margin-top: 5px;
}

.blog-detail-content h3 {
    font-size: 20px;
    letter-spacing: 0.5px;
}

.blog-detail-content .description {
    font-size: 14px;
}


/*Contact Page*/

#map{
	padding: 100px 0px 40px;
}

#contact-form{
	padding: 40px 0px 60px;
}
#contact-form h2 {
    color: #000;
    font-size: 29px;
    letter-spacing: 0px;
    padding-bottom: 20px;
}
#contact-form input.form-control {
    background-color: #f4f4f4 !important;
    border-radius: 37px;
    line-height: 45px;
    border: 1px solid #f4f4f4;
    font-size: 19px;
}
#contact-form textarea{
    background-color: #f4f4f4 !important;
    border-radius: 20px;
    line-height: 58px;
    border: 1px solid #f4f4f4;
    font-size: 19px;
    margin-top: 23px;
}
#contact-form .btn.btn-info{
    font-size: 18px;
    padding: 13px 51px;
    border-radius: 34px;
    letter-spacing: 1px;
    width:auto;
}    
#contact-form  .form-control::-webkit-input-placeholder {
  color: #afafaf !important;
  letter-spacing: 1px;
  padding-left: 25px;
}
#contact-form  .form-control:focus{
    padding-left: 25px;
}
.btn-info:not([disabled]):not(.disabled):active{
    box-shadow: 0 0 0 0.2rem rgba(23,162,184,.5);
}
.contact-btn{
    float:right;
}

/*Product Page*/

#product{
    padding: 100px 0px 20px;
}

.product{
    margin-bottom: 40px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.15);
    height: 250px;
}

.product .pic img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.product .product-img{
    padding: 0px;
}

.product .description{
    font-size: 14px;
    color: #7a7e82;
}

.product .post {
    display: block;
    font-size: 12px;
    font-weight: 100;
    color: #7a7e82;
    margin-top: 5px;
}

.cat-title{
    position: relative;
    top:-72px;
}

.cat-title p{
    margin-bottom: 0px;
    background-color: #000;
    color: #fff;
    padding: 5px;
    font-size: 14px;
    width: 40%; 
    text-align: center;
}

.cat-title h3{
    margin-bottom: 0px;
    background-color: #fcba40;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

.product-price .btn-info {
    color: #616161;
    background-color: #fff;
    border: 2px solid #60606082;
    padding: 5px 20px;
    border-radius: 30px;
}

.product-price .btn-info:hover {
    color: #fff;
    background-color: #FDC135;
    border: 2px solid #FDC135;
}

.product-price{
    padding-top: 20px; 
}

.product-price a {
    float: right;
    margin-top: 40px;
}

.product-price p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
}

.product-price p span {
    color: #FDC135;
    font-size: 40px;
    letter-spacing: 1px;
}

.product-content{
    padding-top: 20px;
}

.productFilter a {
    display: block;
    color: #8c8986;
    padding: 10px 10px 10px 40px;
    background-color: #f5f5f5;
    margin-bottom: 5px;
    font-weight: bold;
    border-left: 4px solid #f5f5f5;
}

.productFilter a:hover {
    border-left: 4px solid #FDC135;
    color: #000;
    text-decoration: none;
}

.productFilter a.current{
    border-left: 4px solid #FDC135;
    color: #000;
}
#product li.page-item{
    margin: 0px 10px;
} 

#product li a.active , #product li a:hover{
    background-color: #FDC135;
    color:#fff;
}   

#product li a {
    padding: 5px 15px;
    color: #878481;
}
@media only screen and (max-width: 767px){
    .product{
    margin-bottom: 40px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.15);
    height: auto;
    }

}


/*Product Details*/


#product-detail{
    padding: 100px 0px 120px;
}


.product-detail-content {
    
}

.product-detail .pic::before {
    content: "";
    position: absolute;
    top: -20px;
    right: -20px;
    width: 150px;
    height: 150px;
    background-color: #FDC135;
    z-index: 0;
}

.product-detail{
    margin-bottom: 40px;
    padding: 0px;
}

.product-detail-content h3::before {
    content: "";
    border-top: 4px solid #fcba40;
    width: 20%;
    margin: auto;
    position: absolute;
    top: 45px;
}

.product-detail-content h3{
    margin-bottom: 30px;
    font-size: 30px;
}

.product-detail .pic img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    position: relative;
}

.product-detail .description{
    font-size: 14px;
    color: #7a7e82;
}

.product-detail .post {
    display: block;
    font-size: 12px;
    font-weight: 100;
    color: #7a7e82;
    margin-top: 5px;
}

.product-detail-content p {
    font-size: 16px;
    letter-spacing: 0.5px;
}

.product-detail-content a {
    float: right;
}

.product-detail-content .btn-info {
    color: #616161;
    background-color: #fff;
    border: 2px solid #60606082;
    padding: 5px 20px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.product-detail-content .btn-info:hover {
    color: #fff;
    background-color: #FDC135;
    border: 2px solid #FDC135;
}

.price-sec .product-price {
    background-color: #fcba40;
    text-align: center;
    color: #fff;
    padding: 30px;
}

.price-sec .product-price h4 {
    font-size: 30px;
    margin-bottom: 30px;
}

.price-sec .product-price h4::before {
    content: "";
    border-top: 1px solid #8c898626;
    width: 60%;
    margin: auto;
    position: absolute;
    top: 91px;
    left: 0;
    right: 0;
}

.price-sec .product-price span{
    color: #fff;
    font-size: 70px;
}

.price-sec .product-price sup{
    font-size: 45px;
}

.features{
    margin-top: 30px;
}

.features-list li{
  list-style: none;
}

.features-list li::before{
    content: " ";    
    width: 20%;
    margin: auto;
    position: absolute;
    top: 45px;
    
}
.fa-angle-double-right:before{
    margin-right: 10px;
}
.features h4::before{
    content: " ";
    border-bottom: 4px solid #fcba40;
    width: 20%;
    margin: auto;
    position: absolute;
    top: 45px;
    
}

#other-products-carousel .item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.other-products-title {
    position: relative;
    top: -40px;
    background-color: #fab549;
    padding: 10px;
    text-align: center;
}

.other-products-title h3{
    font-size: 18px;
    margin-bottom: 0px;
}

#other-products-carousel .owl-nav {
    width: auto;
    float: none; 
}

#other-products-carousel .owl-prev {
    float: left;
    margin: 0px 5px;
    background: #fab549;
    color: #fff;
    padding: 5px;
    position: relative;
    top: -150px;
    left: -50px;
}

#other-products-carousel .owl-next {
    float: right;
    margin: 0px 5px;
    background: #fab549;
    color: #fff;
    padding: 5px;
    position: relative;
    top: -150px;
    right: -50px;
}
.blog-content a{
    color: #000;
}
.product-detail-content .btn-info{
    color:#000;
}
.banner-caption h1 span,.banner-caption h1 p,
#yg-slider h2 span,#yg-slider h2 p{
    position: relative;
}
#yg-slider h2 p,.banner-caption h1 p{
    font-weight: 400;
    text-transform: capitalize;
}
.features h4::after {
    display: block;
    height: 4px;   
    content: " ";
    background-color: #FDC135;
    width: 50px;
    margin-top: 4px;
}
@media only screen and (max-width: 650px){
    #other-products-carousel .owl-nav {
    width: auto;
    float: right; 
    }

    #other-products-carousel .owl-prev {
    float: left;
    margin: 0px 5px;
    background: #fab549;
    color: #fff;
    padding: 5px;
    position: relative;
    top: 0px;
    left: 0px;
    }

    #other-products-carousel .owl-next {
    float: right;
    margin: 0px 5px;
    background: #fab549;
    color: #fff;
    padding: 5px;
    position: relative;
    top: 0px;
    right: 0px;
    }

}

@media (min-width: 767px) and (max-width: 1100px){
.price-sec .product-price sup{
    font-size: 23px;
}
.price-sec .product-price span{
    font-size: 45px;;
}
.box-head h2 span.quote {
    font-size: 29px;
    color: #616161;
    position: relative;
    top: 43px;
    float: left;
    width: 100%;
    margin-bottom: 70px;
}

.project-right-image::before {
    content: "";
    position: absolute;
    top: 7px;
    right: 0px;
    width: 130px;
    height: 130px;
    background-color: #FDC135;
    z-index: 0;
}

}

@media (min-width: 545px) and (max-width: 766px){
.project-right-image::before {
    content: "";
    position: absolute;
    top: 7px;
    right: 30px;
    width: 130px;
    height: 130px;
    background-color: #FDC135;
    z-index: 0;
}
}

@media only screen and (max-width: 544px){
.project-right-image::before {
    content: "";
    position: absolute;
    top: 7px;
    right: 0px;
    width: 130px;
    height: 130px;
    background-color: #FDC135;
    z-index: 0;
}

.box-head h2 span.quote {
    font-size: 29px;
    color: #616161;
    position: relative;
    top: 43px;
    float: left;
    width: 100%;
    margin-bottom: 70px;
}
}


@media (min-width: 450px) and (max-width: 575px){
.team-title {
    position: relative;
    bottom: -10px;
    background: #fdc135;
    color: #fff;
    padding: 10px 0px;
    width: 60%;
    margin: auto;
}
}


@media only screen and (max-width: 766px){
.carousel-caption {
    width: 100%;
    text-align: left;
    bottom: 130px;
}
.about-left-image-outer {
    padding-bottom: 20px;
    padding-right: 15px;
    position: relative;
    height: 450px;
}
}

@media (min-width: 767px) and (max-width: 1100px){
.carousel-caption {
    width: 45%;
    text-align: left;
    bottom: 130px;
}
.custome-description{
    padding: 0px;
}
}

@media (min-width: 470px) and (max-width: 766px){
#top-banner {
    padding: 20px 0px 0px;
    margin-top: 120px;
}
.banner-caption h1 {
    font-weight: bolder;
    font-size: 39px;
    letter-spacing: 1px;
    line-height: 60px;
    text-transform: uppercase;
}
.product-price .btn-info{
    margin-bottom: 20px;
}

}


@media (min-width: 320px) and (max-width: 469px){
.product-detail-content .btn-info{
    margin-bottom: 20px;
}
#top-banner {
    padding: 30px 0px 0px;
    margin-top: 160px;
}
.product-price .btn-info{
    padding: 10px 100px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.banner-caption h1 {
    font-weight: bolder;
    font-size: 39px;
    letter-spacing: 1px;
    line-height: 40px;
    text-transform: uppercase;
}
.top-banner-overlay {
     padding: 0px 0px; 
}
div#carouselYGHotel{
    top: 120px;
}
.project-description,.client-description{
    padding: 20px;
}
#interior-furniture {
    padding: 145px 0px 40px 0px;
}
.btn-info{
    padding: 10px 120px;
}
}


@media (min-width: 767px) and (max-width: 991px){
#services .col-md-4 {
    max-width: 50%;
    flex: 0 0 50%;
}

#about-service .col-md-6 ,#about .col-md-6{
    max-width: 100%;
    flex: 0 0 100%;
}
}

.status-message{
    margin-left: 25px;
}