<!-- Client Section  -->
<section id="custome-two">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12 client-image">
        <div class="row">
          <div class="custome-two-left-image wow fadeInLeft" data-wow-delay="0.3s">
            <img src="{{ file_url(content.field_image['#items'].entity.uri.value) }}" alt="custome-two-left-image" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 custome-two-description wow fadeInRight" data-wow-delay="0.6s">
          <h2> {{ content.field_title.0 }} </h2>
          {{ content.field_body.0 }}
      </div>
    </div>
  </div>
</section>
<!-- Client Section End -->
