<!-- Our Team  -->
<section id="about-team" class="text-center">
  <div class="container">
    <div class="row">
       <div class="col-md-10 text-center team-head mx-auto wow fadeInRight" data-wow-delay="0.3s">
        <h2>{{ content.field_title.0 }}</h2>
        {{ content.field_body.0 }}
      </div>
      <div class="col-md-12 wow fadeInUp" data-wow-delay="0.6s">
        <div class="row">
        	{{ content.field_our_team_items }}
        </div>
      </div> 
    </div>
  </div>
</section>
<!-- Our Team End  -->

