<!-- Work Strategy Section  -->
<section id="work-strategy">
  	<div class="container">
    	<div class="col-md-8 text-center mx-auto wow fadeInRight strategy-head" data-wow-delay="0.3s">
        	<h2>{{ content.field_title.0 }}</h2>
        	{{ content.field_body.0 }}
      	</div>
    	<div class="row">
      		{{ content.field_work_strategy_items }}
   		</div>
    </div>
</section>
<!-- Work Strategy Section End -->