<!-- Our Team Items  -->
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="team-member animate-box">
      <img src="{{ file_url(content.field_image['#items'].entity.uri.value) }}" class="img-fluid" alt="{{ content.field_title.0 }}">
      <div class="team-title">
        <h3>{{ content.field_title.0 }}</h3>
        <p>{{ content.field_count.0 }}</p>
      </div>
    </div>
  </div>
<!--Our Team Items End -->