<!-- Project Section  -->
{% if content.field_style[0]['#markup'] == 0 %}
<section id="project">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12 project-description mx-auto wow fadeInLeft" data-wow-delay="0.3s">
        <div class="box-head">
        <h2> <span class="number">{{ content.field_count.0 }}</span> <span class="quote">
        {{ content.field_title.0 }}</span></h2>
        </div>
        {{ content.field_body.0 }}
        {% if content.field_url.0|render is not empty %}  
	        <div class="explore-btn">
	         	<a href="{{ content.field_url[0]['#url']|render }}" class="btn btn-info">
	         	{{ content.field_url[0]['#title'] }}</a>
	        </div>
	    {% endif %}      
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 project-image wow fadeInRight" data-wow-delay="0.5s">
        <div class="row">
            <div class="project-right-image">
              <img src="{{ file_url(content.field_image['#items'].entity.uri.value) }}" alt="about-left-image" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- Project Section End  -->
{% elseif content.field_style[0]['#markup'] == 1 %}
<!-- Client Section  -->
<section id="client">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12 client-image wow fadeInLeft" data-wow-delay="0.3s">
        <div class="row">
          <div class="client-left-image">
            <img src="{{ file_url(content.field_image['#items'].entity.uri.value) }}" alt="Client-left-image" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 client-description wow fadeInRight" data-wow-delay="0.5s">
        <div class="box-head">
          <h2> <span class="number">{{ content.field_count.0 }}</span> <span class="quote">
          {{ content.field_title.0 }}</span></h2>
        </div>
          {{ content.field_body.0 }}
        {% if content.field_url.0|render is not empty %}  
	        <div class="explore-btn">
	        	<a href="{{ content.field_url[0]['#url']|render }}" class="btn btn-info">
	        	{{ content.field_url[0]['#title'] }}</a>
	        </div>
	    {% endif %}     
      </div>
    </div>
  </div>
</section>
<!-- Client Section End -->
{% else %}
<!-- Custome Furnitures Section  -->
<section id="custome-furnitures">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12 custome-description wow fadeInLeft" data-wow-delay="0.3s">
        <div class="box-head">
        <h2> <span class="number">{{ content.field_count.0 }}</span> <span class="quote">
        {{ content.field_title.0 }}</span></h2>
        </div>
        {{ content.field_body.0 }}
        {% if content.field_url.0|render is not empty %}
	        <div class="explore-btn">
	        	<a href="{{ content.field_url[0]['#url']|render }}" class="btn btn-info">{{ content.field_url[0]['#title'] }}</a>
	        </div>
	    {% endif %}    
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 custome-image wow fadeInRight" data-wow-delay="0.6s">
        <div class="row">
            <div class="custome-right-image">
              <img src="{{ file_url(content.field_image['#items'].entity.uri.value) }}" alt="custome-right-image" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- Custome Furnitures Section End -->
{% endif %}
