<!-- About Service Section  -->
<section id="about-service">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12 about-service-description wow fadeInLeft" data-wow-delay="0.4s">
          <h2>{{ content.field_title.0 }}</h2>
          {{ content.field_body.0 }}
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 about-service-image wow fadeInRight" data-wow-delay="0.7s">
        <div class="row">
          <div class="about-service-right-image">
            <img src="{{ file_url(content.field_image['#items'].entity.uri.value) }}" alt="{{ content.field_body.0 }}" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>