<!-- About Section Items -->
  <div class="col-md-6 col-xs-12 about-image">
    <div class="row">
    	{{ content.field_gallery }}
    </div>
  </div>
  <div class="col-md-6 about-description wow fadeInRight">
    <h3>{{ content.field_title.0 }}</h3>
    {{ content.field_body.0 }}
    <div class="col-md-12 about-info wow fadeInDown" data-wow-delay="0.5s">
        <div class="row">
          {{ content.field_about_us_count }}
        </div>
    </div>    
  </div>
    