<!-- Contact Info -->
	<!--  map section -->
	<section id="map" class="wow fadeInDown" data-wow-delay="0.3s">
	  <div class="container">
	    {{ content.field_map.0 }}
	  </div>
	</section>
	<!-- Contact form and address  -->
	<section id="contact-form">
	  <div class="container">
	    <div class="row">
	      <div class="col-md-6 mx-auto wow fadeInUp" data-wow-delay="0.8s">
	        <h2>{{ content.field_title.0 }}</h2>
	        	{{ content.field_cont.0 }}
	      </div>
	    </div>
	  </div>  
	</section>
<!-- Contact Info End-->

