<!-- Our Team  -->
{% if content.field_style[0]['#markup'] == 1 %}
 <div class="col-md-5 col-sm-12 co-xs-12 gal-item wow fadeInLeft" data-wow-delay="0.5s">
    <div class="box">
      <a href="#" data-toggle="modal" data-target="#7">
        <img src="{{ file_url(content.field_image['#items'].entity.uri.value) }}">
        <div class="col-md-12 description">
          <h4>{{ content.field_title.0 }}</h4>
          {{ content.field_body.0 }}
        </div>
      </a>
    </div>
  </div>
{% elseif content.field_style[0]['#markup'] == 0 %}    
  <div class="col-md-7 col-sm-6 co-xs-12 gal-item wow fadeInRight" data-wow-delay="0.7s">
    <div class="box">
      <a href="#" data-toggle="modal" data-target="#7">
        <img src="{{ file_url(content.field_image['#items'].entity.uri.value) }}">
        <div class="col-md-12 description">
          <h4>{{ content.field_title.0 }}</h4>
          {{ content.field_body.0 }}
        </div>
      </a>
    </div>
  </div>
{% else %}  
  <div class="col-md-12 col-sm-6 co-xs-12 gal-item wow fadeInUp" data-wow-delay="0.10s">
    <div class="box">
      <a href="#" data-toggle="modal" data-target="#7">
        <img src="{{ file_url(content.field_image['#items'].entity.uri.value) }}">
        <div class="col-md-12 description">
          <h4>{{ content.field_title.0 }}</h4>
          {{ content.field_body.0 }}
        </div>
      </a>
    </div>
  </div>
{% endif %}  
<!-- Our Team End  -->

