<!-- Interior & Furniture Header Section -->
<section id="interior-furniture">
  <div class="container">
    <div class="row">
      <div class="col-md-7 text-center mx-auto wow fadeInRight" data-wow-delay="0.3s">
        <h2>{{ content.field_title.0 }}</h2>
        {{ content.field_body.0 }}
      </div>
    </div>
  </div>
</section>
<!-- Interior & Furniture Header Section End-->
