<!-- Work Strategy Items  -->
  <div class="col-md-3 col-sm-6 col-xs-12 strategy-details wow fadeInUp" data-wow-delay="0.4s">
    <i class="fa fa-address-card" aria-hidden="true"></i>
    <h4>{{ content.field_title.0 }}</h4>
    	{{ content.field_body.0 }}
  </div>
<!-- Work Strategy Items End -->
