<!-- About Section  -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-7 text-center about-head mx-auto wow fadeInRight" data-wow-delay="0.3s">
        <h2>{{ content.field_title.0 }}</h2>
        {{ content.field_body.0 }}
      </div>
      	{{ content.field_about_us_items }}
    </div>
  </div>
</section>
