{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
<!-- Sider -->
<div id="carouselYGHotel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators wow fadeInUp">
    {% for result in view.result %}
      <li data-target="#carouselYGHotel" data-slide-to="{{ loop.index-1 }}" 
      class="{% if ( loop.index == 1 )  %}active{% endif %}"></li>
    {% endfor %}  
  </ol>
  <div class="carousel-inner" role="listbox">
    {% for result in view.result %}
      <div class="carousel-item {% if ( loop.index == 1 )  %}active{% endif %}" style="background-image: url('{{ file_url(view.field.uri.value(view.result[loop.index-1])) }}')">
        <div class="container">
          <div class="carousel-caption d-md-block">
            <h2><span>{{ view.field.title.value(view.result[loop.index-1]) }}</span>
            <p>{{ view.field.body.value(view.result[loop.index-1]) |striptags }}</p>
            </h2>
          </div>
        </div>
      </div>
    {% endfor %} 
  </div>
</div>
