{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
<!-- Testimonial Author -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-title text-center wow fadeInRight" data-wow-delay="0.3s">
        <h2>{{ view.getTitle() }}</h2>    
      </div>
      <div class="col-md-12">
        <div id="testimonial-slider" class="owl-carousel">
          {% for row in rows %}
            {{ row }}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>  