{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
<!-- Our Services -->
<section id="services" class="text-center">
  <div class="container">
    <div class="row">
       <div class="col-md-10 text-center services-head mx-auto wow fadeInRight" data-wow-delay="0.3s">
        <h2>{{ view.getTitle() }}</h2>
        <p>{{ header }}</p>
      </div>
        <div class="col-md-12 wow fadeInUp" data-wow-delay="0.6s">
          <div class="row">
            {% for row in rows %}
              {{ row }}
            {% endfor %}
          </div> 
        </div>
      </div> 
    </div>
  </div>
</section>