{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
<!-- Product -->
<section id="product">
  <div class="container">
    <div class="row produc-respons">
      <div class="col-md-12 section-title text-center wow fadeInRight" data-wow-delay="0.3s">
        <h2>{{ view.getTitle() }}</h2>    
      </div>
        <div class="col-md-3 wow fadeInLeft" data-wow-delay="0.5s">
          <div class="productFilter clearfix animate-box">
              <a href="#" data-filter="*" class="current">All Products</a>
              {% set arr = [] %}
              {% for result in view.result %}
              {% set a = view.field.name.value(view.result[loop.index-1]) %}
              {% if a is defined %}
              {% set arr = arr|merge({(a): (a)}) %}
              {% endif %}
              {% endfor %}
            {% for key, result in arr %}
              <a href="#" data-filter=".{{ key|lower|replace({' ':'-'}) }}">{{ key }}</a>
            {% endfor %}
          </div>
        </div>
        <div class="col-md-9 product-section wow fadeInUp" data-wow-delay="0.8s">
          {% for result in view.result %}
            {% set a = view.field.name.value(view.result[loop.index-1]) %}
            {% if a is defined %}
            {% set class = a|lower|replace({' ':'-'}) %}
            {% else %}
            {% set class = '' %}
            {% endif %}
            <div class="col-md-12 product {{ class }}">
              <div class="row">
                <div class="col-md-5 col-sm-12 product-img" >
                  <div class="pic">
                      <img src="{{ file_url(view.field.uri.value(view.result[loop.index-1])) }}" alt="" class="img-fluid">
                      <div class="cat-title">
                        <p>{{ view.field.name.value(view.result[loop.index-1]) }}</p>
                        <h3 class="product-title">{{ view.field.title.value(view.result[loop.index-1]) }}</h3>
                      </div>
                  </div>
                </div>
                <div class="col-md-7 col-sm-12">  
                  <div class="product-content">
                    <p class="description">
                      {% set text =  view.field.body.value(view.result[loop.index-1]) |striptags|render %}
                      {{ text|length > 200 ? text|slice(0, 200) ~ '...' : text }}
                    </p>
                    <div class="row product-price bathroom">
                      <div class="col-md-6 col-sm-6">
                      <p>Price</p>
                      <p><span>${{ view.field.field_designation.value(view.result[loop.index-1]) }}</span></p>
                      </div>
                      <div class="col-md-6 col-sm-6">
                        <a href="{{ basepath }}/node/{{ view.field.nid.value(view.result[loop.index-1]) }}" class="btn btn-info">View Details</a> 
                      </div>
                    </div>
                  </div>
                </div> 
              </div>  
            </div>
          {% endfor %}
             
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              {% if pager %}
                {{ pager }}
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
</section>  