
{#
/**
 * @file
 * Default theme implementation for a single field in a view.
 *
 * Available variables:
 * - view: The view that the field belongs to.
 * - field: The field handler that can process the input.
 * - row: The raw result of the database query that generated this field.
 * - output: The processed output that will normally be used.
 *
 * When fetching output from the row this construct should be used:
 * data = row[field.field_alias]
 *
 * The above will guarantee that you'll always get the correct data, regardless
 * of any changes in the aliasing that might happen if the view is modified.
 *
 * @see template_preprocess_views_view_field()
 *
 * @ingroup themeable
 */
#}
<section id="top-banner" style="background-image:url('{{ fields.field_image.content }}'); width: 100%; background-repeat: no-repeat; background-size:cover">
  <div class="top-banner-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-7 banner-caption wow fadeInUp" data-wow-delay="0.3s">
          <h1><span>{{ fields.title.content }}</span>
          {{ fields.body.content }}
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>