{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
<!-- Our Product -->
<section id="other-products">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-title text-center  wow fadeInRight" data-wow-delay="0.3s">
        <h2>{{ view.getTitle() }}</h2>    
      </div> 
      <div class="col-md-10 mx-auto">
        <div id="other-products-carousel" class="owl-carousel owl-theme wow fadeInUp" data-wow-delay="0.6s">
          {% for row in rows %}
            {{ row }}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>  
</section>