{% for item in items %}  
    {% if loop.first %}
     <div class="col-md-5 col-xs-12 about-left-image-outer">
	    <div class="about-left-image wow fadeInLeft" data-wow-delay="0.3s">
	      <img src="{{ file_url(item.content['#item'].entity.uri.value) }}" alt="about-full-width-image" class="img-fluid">
	    </div>
	{% endif %} 
	{% if loop.index == 2 %}    
        <div class="about-left-image-2 wow fadeInLeft" data-wow-delay="0.6s">
          <img src="{{ file_url(item.content['#item'].entity.uri.value) }}" alt="about-left-image" class="img-fluid">
        </div>
     </div>   
    {% endif %}

	{% if loop.index == 3 %}
	<div class="col-md-7 col-xs-12 about-right-image-outer">
        <div class="about-right-image wow fadeInDown" data-wow-delay="0.8s">
          <img src="{{ file_url(item.content['#item'].entity.uri.value) }}" alt="about-left-image" class="img-fluid">
        </div>
    {% endif %}  
 	{% if loop.index == 4 %}   
        <div class="about-right-image-2 wow fadeInDown" data-wow-delay="0.10s">
          <img src="{{ file_url(item.content['#item'].entity.uri.value) }}" alt="about-left-image" class="img-fluid">
        </div>
     </div>   
    {% endif %}
	
	{% if loop.index == 5 %} 
      <div class="col-md-12 col-xs-12 about-full-width-image-outer">
        <div class="about-full-width-image wow fadeInUp" data-wow-delay="0.13s">
          <img src="{{ file_url(item.content['#item'].entity.uri.value) }}" alt="about-left-image" class="img-fluid">
        </div>
      </div>
	{% endif %}
{% endfor %}
