<!-- Menu Section -->
  <header id="header">
  <div id="header-top">
    <div class="container">
    <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 logo">
       {{ page.site_branding }}
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12">
      <div class="row">
         <div class="interior-nav">
            <div class="social">
               <ul>
                  {% if linkedin_url|render is not empty %}
                     <li><a href="{{ linkedin_url }}"><i class="fa fa-linkedin"></i></a></li>
                  {% endif %}
                  {% if instagram_url|render is not empty %}
                     <li><a href="{{ instagram_url }}"><i class="fa fa-instagram"></i></a></li>
                  {% endif %}
                  {% if facebook_url|render is not empty %}
                     <li><a href="{{ facebook_url }}"><i class="fa fa-facebook-f"></i></a></li>
                  {% endif %}
                  {% if twitter_url|render is not empty %}
                     <li><a href="{{ twitter_url }}">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                     </a></li>
                  {% endif %}
                  {% if youtube_url|render is not empty %}
                     <li><a href="{{ youtube_url }}"><i class="fa fa-youtube-play"></i></a></li>
                  {% endif %}               
               </ul>
            </div>
             <div class="phone">
               {% if contact_number|render is not empty %}
                  <p> <span> CALL US</span> {{ contact_number }} </p>
               {% endif %} 
                <div class="button_container" id="toggle"><span class="top"></span><span class="middle"></span><span class="bottom"></span></div>
             </div>                  
        </div>        
      </div>
         <!-- Primary Menu -->
            {{ page.primary_menu }}
         <!-- Primary Menu End --> 

      </div> 
    </div>
    </div>
      </div>
    </div>
  </div>
</header>
<!-- Slider Section -->
<section id="yg-slider">
   {{ page.slider }}
</section>

<!-- Content -->
  {{ page.content }}
<!-- Content End -->



<!-- FOOTER SECTION-->
<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-12 footer-columns wow fadeInUp" data-wow-delay="0.3s">
        <img src="{{ logopath }}" title="{{ 'Home'|t }}" rel="home" alt="footer-logo" 
        class="img-responsive">
        <p title="{{ 'Slogan'|t }}">{{ site_slogan }}</p>
      </div>
      <div class="col-md-3 col-sm-12 footer-columns wow fadeInUp" data-wow-delay="0.6s">
        {{ page.find_us }}
      </div>
      <div class="col-md-3 col-sm-12 footer-columns wow fadeInUp" data-wow-delay="0.9s">
        <h6>{% if call_us_title|render is not empty %}{{ call_us_title }}{% endif %}</h6>
        {% if contact_number|render is not empty %}
        <p><a href="tel:{{ contact_number }}"><i class="fa fa-phone"></i> {{ contact_number }}</a></p>
        {% endif %}
        {% if mail_id|render is not empty %}
        <p><a href="mailto:{{ mail_id }}"><i class="fa fa-envelope"></i>{{ mail_id }}</a></p>
        {% endif %}
      </div>
      <div class="col-md-3 col-sm-12 footer-columns wow fadeInUp" data-wow-delay="0.9s">
        <h6>{% if social_title|render is not empty %}{{ social_title }}{% endif %}</h6>
        <div class="social">
          <ul>
             {% if linkedin_url|render is not empty %}
               <li><a href="{{ linkedin_url }}"><i class="fa fa-linkedin"></i></a></li>
             {% endif %}
             {% if instagram_url|render is not empty %}
               <li><a href="{{ instagram_url }}"><i class="fa fa-instagram"></i></a></li>
             {% endif %}
             {% if facebook_url|render is not empty %}
               <li><a href="{{ facebook_url }}"><i class="fa fa-facebook-f"></i></a></li>
             {% endif %}
             {% if twitter_url|render is not empty %}
               <li><a href="{{ twitter_url }}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
             {% endif %}
             {% if youtube_url|render is not empty %}
               <li><a href="{{youtube_url }}"><i class="fa fa-youtube-play"></i></a></li>
             {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- copyright -->

<section id="copyright">
  <div class="container">
    <div class="row">  
      <div class="col-md-6 mx-auto text-center wow fadeInUp" data-wow-delay="0.3s"> 
        {% if copyright %}
          {{copyright|striptags('<b>,<strong>,<p>,<a>,<pre>')|raw}}
        {% endif %}  
      </div>
    </div>
  </div>
</section>
